$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
@import url(https://fonts.googleapis.com/css?family=Montserrat);

$link-color: #333;
$hover-color: #67BD48;

body {
    font-family: 'Raleway', sans-serif;
    color: #555;
    line-height: 1.75em;
    background-color: #414141;
    max-width: 100%;
    overflow-x: hidden;

}

@media only screen and (max-width : 1200px) {
    .bg {
        max-height: 300px;
    }   
}

@media only screen and (max-width : 768px) {
    .home {
        max-width: 300px;
        width: 300px;
        margin: 0px !important;
    }   

    header {
        margin: 1em 0 !important;
    }

    section {
        max-width: 375px;
        width: 375px;
        height: 100%;
    }

    .menu {
        margin: 1em 0 !important;
    }

    .container {
        padding:0px !important;
    }

    .button {
        min-width: 100px;
        font-size: 0.8em !important;
        padding: 0 0.1em !important;
        min-width: 20em !important;
    }

    .btn-group-justified{
        padding-top: 1em;

    }
}


a {
    color: $link-color !important;
}
a:hover {
    text-decoration: none;
    color: $hover-color !important;
    border-bottom-color: transparent;
}

.bg {
    padding: 0;
    background-size: cover;
    overflow: hidden;
    border-radius: 0;
    display: block;
    object-fit: cover;
    object-position: center;
    height: 100%;

    >img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }

    
}



h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.25em; 
}

header {
    padding-top: 3em;
    margin-top: 3em;
    margin-right: 0px;
    margin-bottom: 3em;
    margin-left: 0px;

    h2 {
        padding-top: 1em;
        font-size: 1.2em;
        letter-spacing: 0.25em;
        margin-bottom: 0;
        text-transform: uppercase;
        font-weight: 300;
    }
}

.wrapper {
    perspective: 1000px;
    min-height: 100vh;
    padding: 3em;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    text-size-adjust: 100%;
    vertical-align: baseline;
    justify-content: center;
}

section {
    background-color: white;    
}

.panel {
    justify-content: center;
    align-items: stretch;
    .content {
        padding: 3em;
        .thin {
            font-size: 0.9em;
            letter-spacing: 0.25em;
        }
    }
}

hr {
    width: 100px;
}

ul {

    padding: 0px;

    &.menu {
        cursor: default;
        list-style: none;
        display: block;
        margin: 50px;
        position: relative;
        vertical-align: baseline;

        &.action {

            li {
                display: block;
                margin: 0;
                padding: 1.5em 0 0 0;
                position: relative;
                perspective: 1000px;

                >.button {
                    min-width: 20em;
                }

                 &:after {
                    background-color: #cccccc;
                    content: '';
                    display: block;
                    height: 1.5em;
                    left: 50%;
                    position: absolute;
                    top: 100%;
                    width: 1px;
                }

                &:last-child:after {
                    display: none;
                }
            }


        }
    }
}

.button {
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    background-color: transparent;
    border-radius: 8px;
    border: 0;
    box-shadow: inset 0 0 0 1px #cccccc;
    color: #555 !important;
    cursor: pointer;
    display: inline-block;
    font-size: 1.3em;
    font-weight: 100;
    letter-spacing: 0.25em;
    line-height: 3.5em;
    padding: 0 2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;

    &:hover {
        text-decoration: none;
        box-shadow: inset 0 0 0 1px $hover-color;
        color: $hover-color !important;
        border-bottom-color: transparent;
    }
}

footer {
    padding-top: 1.5em;
}

.touchy{ /* global button class */
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;
    box-shadow: 0 2px 2px #999;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: normal;
    line-height: 2em;
    border-radius: 25px;
    -moz-border-radius:25px;
    -webkit-border-radius:25px;
}


.image.thumb:hover:before {
    background: url(../images/overlay.png),url(../images/overlay.png);
    opacity: 1;
}


.image.thumb:after {
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
    border-radius: .35em;
    border: 3px solid hsla(0,0%,100%,.5);
    color: #fff;
    content: 'View';
    display: inline-block;
    font-size: .8em;
    font-weight: 400;
    left: 50%;
    line-height: 2.25em;
    margin: -1.25em 0 0 -3em;
    opacity: 0;
    padding: 0 1.5em;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 50%;
    white-space: nowrap;
}

.poptrox-popup {
    -ms-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    background: #fff;
    border-radius: .35em;
    box-shadow: 0 .1em .15em 0 rgba(0,0,0,.15);
    overflow: hidden;
    padding-bottom: 3em;
}

.poptrox-popup .caption {
    background: #fff;
    bottom: 0;
    cursor: default;
    font-size: .9em;
    height: 3em;
    left: 0;
    line-height: 2.8em;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 1;
}

.poptrox-popup .nav-next {
    right: 0;
}

.poptrox-popup .nav-next, .poptrox-popup .nav-previous {
    text-decoration: none;
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    background: rgba(0,0,0,.01);
    cursor: pointer;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 50%;
}

.poptrox-popup .nav-previous {
    left: 0;
}

.poptrox-popup .nav-next, .poptrox-popup .nav-previous {
    text-decoration: none;
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    background: rgba(0,0,0,.01);
    cursor: pointer;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 50%;
}

.poptrox-popup .closer {
    text-decoration: none;
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    color: #fff;
    height: 4em;
    line-height: 4em;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 4em;
    z-index: 2;
}

.poptrox-popup .closer:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    text-transform: none!important;
    -ms-box-sizing: content-box;
    box-sizing: content-box;
    border-radius: 100%;
    border: 3px solid hsla(0,0%,100%,.5);
    content: '\f00d';
    display: block;
    font-size: 1em;
    height: 1.75em;
    left: 50%;
    line-height: 1.75em;
    margin: -.875em 0 0 -.875em;
    position: absolute;
    top: 50%;
    width: 1.75em;
}

.poptrox-popup .nav-previous:before {
    content: '\f104';
    left: 0;
}

.poptrox-popup .nav-next:before, .poptrox-popup .nav-previous:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    text-transform: none!important;
    color: #fff;
    font-size: 2.5em;
    height: 1em;
    line-height: 1em;
    margin-top: -.75em;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 1.5em;
}

.poptrox-popup .nav-next:before {
    content: '\f105';
    right: 0;
}

.poptrox-popup .nav-next:before, .poptrox-popup .nav-previous:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    text-transform: none!important;
    color: #fff;
    font-size: 2.5em;
    height: 1em;
    line-height: 1em;
    margin-top: -.75em;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 1.5em;
}

.ref-item {
    margin: 0 0 2em;
    min-height: 400px;
}

.back {
    display:inline-block;
    overflow: auto;
    white-space: nowrap;
    margin: 1em auto;
}

.right {
  float: right;
}

.left {
  float: left;
}

form {
        label {
            visibility: hidden;
            display: block;
            font-weight: 400;
            color: #363636;
            margin: 0 0 1em 0;
        }

        input[type="text"],
        input[type="email"],
        input[type="password"],
        input[list="type"],
        select,
        textarea {
            -webkit-appearance: none;
            border: 0;
            background: #f4f4f4;
            padding: 0.75em;
            width: 100%;

            &:focus {
                background: #f8f8f8;
            }
        }

        input[type="text"],
        input[type="email"],
        input[type="password"],
        select {
            line-height: 1.35em;
        }

        ::-webkit-input-placeholder {
            color: #999;
        }

        :-moz-placeholder {
            color: #999;
        }

        ::-moz-placeholder {
            color: #999;
        }

        :-ms-input-placeholder {
            color: #999;
        }
    }