---
layout: cards
use-site-title: true
meta-title: "Azure, Automation, Cloud Consulting, DevOps"
meta-description: "- Personal Blog, Azure, Automation, Cloud Consulting, DevOps"
---

<style>
  @media only screen and (min-width: 768px) {
    .card-columns {
        column-count: 2;
        column-gap: normal;
    }
  }
  .card {
      margin-bottom: 25px;
      display: inline-block; 
      width: 100%; 
  }
</style>
<div class="card-columns">
  {% for post in site.posts %}
    {% if post.tags contains 'draft' %} 
    {% else %} 
    <div class="card rounded">
      {% if post.image %}
      <div class="outer-div card-img-top">
        <a href="{{ post.url | relative_url }}">
          <div class="inner-div" style="background-image: url({{ post.image | relative_url }})" ></div>
        </a>
      </div>
      {% endif %}
      
      <div class="card-body">
        <a href="{{ post.url | relative_url }}">
          <h1 class="card-title">{{ post.title }}</h1>
          {% if post.subtitle %}
            <h5>{{ post.subtitle }}</h5>
          {% endif %}
        </a>
        
        <p class="card-text">
          {{
            post.excerpt
              | strip_html
              | xml_escape
          }}
          {% assign excerpt_word_count = post.excerpt | number_of_words %} 
          {% if post.content != post.excerpt or excerpt_word_count > site.excerpt_length %}
          {% endif %}
        </p>
        <p class="card-text">
          <small class="text-muted">
            <a href="{{ post.url | relative_url }}" class="post-read-more">
              Read&nbsp;More
            </a>
            <span>  
              &bull; {{ post.date | date: "%-d %B %Y" }}
            </span>
            <span> &bull; {{ post.time }} MIN READ </span>
          </small>
        </p>
      </div>
    </div>
    {% endif %} 
  {% endfor %}
</div>
