---
layout: default
use-site-title: true
meta-title: "Azure, Automation, Cloud Consulting, DevOps"
meta-description: "- Personal Blog, Azure, Automation, Cloud Consulting, DevOps"
---

<style>
  .card-columns {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
  @media only screen and (min-width: 768px) {
    .card-columns {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media only screen and (min-width: 1200px) {
    .card-columns {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
<div class="card-columns">
  {% for post in site.posts %}
    {% if post.tags contains 'draft' %} 
    {% else %} 
    <div class="card rounded">
      {% if post.image %}
      <div class="outer-div card-img-top">
        <a href="{{ post.url | relative_url }}">
          <img class="inner-div-img" src="{{ post.image | relative_url }}" alt="{{ post.title }}" loading="lazy" />
        </a>
      </div>
      {% endif %}
      
      <div class="card-body">
        <a href="{{ post.url | relative_url }}">
          <h2 class="card-title">{{ post.title }}</h2>
          {% if post.subtitle %}
            <h5>{{ post.subtitle }}</h5>
          {% endif %}
        </a>
        
        <p class="card-text" style="text-align: justify;">
          {{
            post.excerpt
              | strip_html
              | xml_escape
          }}
          {% assign excerpt_word_count = post.excerpt | number_of_words %} 
          {% if post.content != post.excerpt or excerpt_word_count > site.excerpt_length %}
          {% endif %}
        </p>
        <p class="card-text text-center">
          <small class="text-muted">
            <a href="{{ post.url | relative_url }}" class="post-read-more">
              Read&nbsp;More
            </a>
            <span>  
              &bull; {{ post.date | date: "%-d %B %Y" }}
            </span>
            <span> &bull; {{ post.time }} MIN READ </span>
          </small>
        </p>
      </div>
    </div>
    {% endif %} 
  {% endfor %}
</div>
