---
layout: cards
use-site-title: true
meta-title: "Azure, Automation, Cloud Consulting, DevOps"
meta-description: "- Personal Blog, Azure, Automation, Cloud Consulting, DevOps"
pagination:
  enabled: true
---

<h1>Test2</h1>
<div class="card-columns">
  {% for post in paginator.posts %} 
    {% if post.tags contains 'draft' %} 
    {% else %} 
    <div class="card">
      <img class="card-img-top" src="{{ post.image | relative_url }}">
      <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">
          {{
          post.excerpt
            | strip_html
            | xml_escape
            | truncatewords: site.excerpt_length 
          }}
        </p>
      </div>
    </div>
    {% endif %} 
  {% endfor %}
</div>
