---
layout: page
use-site-title: true
meta-title: "Mark Warneke - Azure, Automation, Cloud Consulting, DevOps"
meta-description: "Mark Warneke - Personal Blog, Azure, Automation, Cloud Consulting, DevOps"
---

<div class="posts-list">
  {% for post in paginator.posts %}
  <article>
    <!-- Card -->
    <div class="card">
      <!-- Card image -->
      <div class="view overlay">
        <img
          class="card-img-top"
          src="{{ post.image | relative_url }}"
          alt="{{ post.title }}"
        />
        <a href="{{ post.url | relative_url }}">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!-- Button -->
      <a
        href="{{ post.url | relative_url }}"
        class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3"
        ><i class="fas fa-chevron-right pl-1"></i
      ></a>

      <!-- Card content -->
      <div class="card-body">
        <!-- Title -->
        <h4 class="card-title">{{ post.title }}</h4>
        <!-- Subtitle -->
        <h5 class="blue-text pb-2">{{ post.subtitle }}</h5>
        <hr />
        <!-- Text -->
        <p class="card-text">
          {{
            post.excerpt
              | strip_html
              | xml_escape
              | truncatewords: site.excerpt_length
          }}
          {% assign excerpt_word_count = post.excerpt | number_of_words %} {% if
          post.content != post.excerpt or excerpt_word_count >
          site.excerpt_length %}
          <a href="{{ post.url | relative_url }}" class="post-read-more"
            >Read&nbsp;More</a
          >
        </p>
      </div>

      <!-- Card footer -->
      <div class="rounded-bottom mdb-color lighten-3 text-center pt-3">
        <ul class="list-unstyled list-inline font-small">
          <li class="list-inline-item pr-2 white-text">
            <i class="far fa-calendar pr-1"></i
            >{{ post.date | date: "%-d %B %Y" }}
          </li>
          <li class="list-inline-item pr-2 white-text">
            <i class="far fa-clock pr-1"></i>{{ post.time }}
          </li>
          <li class="list-inline-item pr-2 white-text">
            <i class="far fa-tag pr-1"></i>
          </li>
        </ul>
      </div>
    </div>
    <!-- Card -->
  </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | relative_url }}"
      >&larr; Newer Posts</a
    >
  </li>
  {% endif %} {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | relative_url }}"
      >Older Posts &rarr;</a
    >
  </li>
  {% endif %}
</ul>
{% endif %}
